In [70]:
# data

company_name_list = [{'name': 'Company 1'},
          {'name': 'Company 2'},
          {'name': 'Company 3'}]

employee_name_list = [{'name': 'John Doe'},
          {'name': 'Tom Smith'},
          {'name': 'Andrew Sebastian'}]

company_detail_list = {
      'Company 1': {
          'name': 'Company 1',
          'domain': 'Retail',
          'clients': [
              {
                  'name': 'acme.inc',
                  'country': 'united states'
              },
              {
                  'name': 'Wayne.co',
                  'country': 'united states'
              }
          ]
      },
      'Company 2': {
          'name': 'Company 2',
          'domain': 'Construction',
          'clients': [
              {
                  'name': 'Tesla',
                  'country': 'united states'
              },
              {
                  'name': 'Japan Airlines',
                  'country': 'japan'
              },
              {
                  'name': 'Indofood',
                  'country': 'indonesia'
              }
          ]
      },
      'Company 3': {
          'name': 'Company 3',
          'domain': 'Healthcare',
          'clients': [
              {
                  'name': 'Petronas',
                  'country': 'malaysia'
              },
              {
                  'name': 'VW Group',
                  'country': 'germany'
              },
              {
                  'name': 'IBM',
                  'country': 'united states'
              },
              {
                  'name': 'Mitsubishi',
                  'country': 'japan'
              }
          ]
      }
  }

employee_detail_list = {
      'John Doe': {
          'name': 'EMP-0001',
          'first_name': 'John',
          'last_name': 'Doe',
          'full_name': 'John Doe',
          'company': 'Company 1'
      },
      'Tom Smith': {
          'name': 'EMP-0002',
          'first_name': 'Tom',
          'last_name': 'Smith',
          'full_name': 'Tom Smith',
          'company': 'Company 2'
      },
      'Andrew Sebastian': {
          'name': 'EMP-0003',
          'first_name': 'Andrew',
          'last_name': 'Sebastian',
          'full_name': 'Andrew Sebastian',
          'company': 'Company 2'
      },
  }

In [71]:
# 1
# Mengurutkan list company

In [72]:
import json

def sort_company():
    return [{"name": company['name'], "domain": company['domain']} for company in sorted(company_detail_list.values(), key=lambda x: x['domain'], reverse = True)]

print(json.dumps(sort_company(), indent=4))

[
    {
        "name": "Company 1",
        "domain": "Retail"
    },
    {
        "name": "Company 3",
        "domain": "Healthcare"
    },
    {
        "name": "Company 2",
        "domain": "Construction"
    }
]

In [73]:
# 2
# List semua nilai atau value dari Domain

In [74]:
company_names = [company['name'] for company in company_name_list]

def get_company_domain():
    result = [ f"{company_name}: {company_details['domain']}, relation: {len(company_details['clients'])} clients" for company_name in company_names if (company_details := company_detail_list.get(company_name)) ]
    for output in result:
        print(output)

get_company_domain()

Company 1: Retail, relation: 2 clients
Company 2: Construction, relation: 3 clients
Company 3: Healthcare, relation: 4 clients

In [ ]:
# 3
# List pegawai perusahaan beserta nama perusahaan nya

In [75]:
def get_employees():
    employees_with_domain = [ {"full_name": emp['full_name'], "company": emp['company'], "domain": company_detail_list[emp['company']]['domain'] } for emp in employee_detail_list.values() ]
    return employees_with_domains

print(json.dumps(get_employees(), indent=4))

[
    {
        "full_name": "John Doe",
        "company": "Company 1",
        "domain": "Retail"
    },
    {
        "full_name": "Tom Smith",
        "company": "Company 2",
        "domain": "Construction"
    },
    {
        "full_name": "Andrew Sebastian",
        "company": "Company 2",
        "domain": "Construction"
    }
]

In [ ]:
# 4
# List perusahaan dan pegawai yang bekerja di perusahaan tersebut

In [87]:
def get_employees_by_company():
    companies_with_employees = [
        {"company": company['name'], "employees": [employee['full_name'] for employee in employee_detail_list.values() if employee['company'] == company['name']]}
        for company in company_name_list
    ]
    return companies_with_employees

print(json.dumps(get_employees_by_company(), indent=4))

[
    {
        "company": "Company 1",
        "employees": [
            "John Doe"
        ]
    },
    {
        "company": "Company 2",
        "employees": [
            "Tom Smith",
            "Andrew Sebastian"
        ]
    },
    {
        "company": "Company 3",
        "employees": []
    }
]